---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <div class="bio-content">
    <div class="bio-bullets">
      <ul>
        <li>I'm a <i>Machine Learning Researcher</i> at <b>Scale AI</b> working on Reasoning and Agents Research.</li>
        <li>I'm interested in data and compute efficient post-training of Language Models for complex reasoning tasks.</li>
        <li>I received my M.S. in Computer Science from <b>Georgia Tech</b>, working with <b>Prof. Alan Ritter</b>.</li>
        <li>I also previously worked at <b>Tensorlake AI</b> as their first ML hire and <b>Goldman Sachs</b> as a Quant/Software Engineer.</li>
      </ul>
    </div>
  </div>
</div>

<!-- ========== EXPERIENCE ========== -->
<!-- <div class="docs-section" id="experience">
  <h4>Experience</h4>
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
        </div>

        <div class="desc">
          <span class="time">{{ exp.time }}</span>
          <div class="position-details">
            <b>{{ exp.title }}</b> 
            <div class="subtitle">{{ exp.subtitle }}</div>
          </div>
        </div>
        
      </div>
      <div class="direction-r">
        {% if exp.thumbnail %}
        <img src="{{ site.baseurl }}{{ exp.thumbnail }}" alt="{{ exp.place }}" width="100">
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div> -->

<!-- ========== EDUCATION ========== -->
<!-- <div class="docs-section" id="education">
  <h4>Education</h4>
  <ul class="timeline">
    {% for exp in site.data.education.educations %}
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
        </div>
        <div class="desc">
          <span class="time">{{ exp.time }}</span>
          <div class="position-details">
            <b>{{ exp.title }}</b>
            <div class="subtitle">{{ exp.subtitle }}</div>
          </div>
        </div>
      </div>
      <div class="direction-r">
        {% if exp.thumbnail %}
        <img src="{{ site.baseurl }}{{ exp.thumbnail }}" alt="{{ exp.place }}" width="100">
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div> -->
<!-- 
<div class="docs-section" id="template">
  <div class="footer-credit">
    Template adapted from <a href="https://github.com/msaveski/www_personal" target="_blank">here</a>.
  </div>
</div> -->
