---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <!-- <h4>Bio</h4> -->
  <p>
  I'm a Masters student in Computer Science at <b>Georgia Tech</b>, specializing in Machine Learning. I'm broadly interested in methods for building data and compute efficient Language Models that can handle comples reasoning tasks</p>
</div>

<!-- ========== EXPERIENCE ========== -->
<div class="docs-section" id="experience">
  <h4>Experience</h4>
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span>
        </div>

        <div class="desc">
          <b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}<br>
        </div>
        
      </div>
      <div class="direction-r">
        {% if exp.thumbnail %}
        <img src="{{ site.baseurl }}{{ exp.thumbnail }}" alt="b3do" width="100" style="border-style: none">
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- ========== EDUCATION ========== -->
<div class="docs-section" id="education">
  <h4>Education</h4>
  <ul class="timeline">
    {% for exp in site.data.education.educations %}
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc">
          <b>{{ exp.title }}</b> <br/> {{ exp.subtitle }} <br>
        </div>
      </div>
      <div class="direction-r">
        {% if exp.thumbnail %}
        <img src="{{ site.baseurl }}{{ exp.thumbnail }}" alt="b3do" width="100" style="border-style: none">
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


<div class="docs-section" id="template">
  Template from <a href="https://github.com/msaveski/www_personal" target="_blank">here</a>.
</div>  
